body {
    margin: 0;
    font-family: Arial;
    background-color: #1e1e1e;
    color: white;

    transition: 0.3s;
}

.header {
    background-color: black;
    color: white;
    padding: 20px;
}

.header h1 {
    margin: 0;
}

.main {
    padding: 20px;
}

.welcome {
    background-color: #2d2d2d;
    padding: 30px;
    border-radius: 10px;
}

.welcome h2 {
    margin-top: 0;
}

.songs-btn {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.songs {
    margin-top: 20px;
}

.song-card {
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.song-card h3 {
    margin-top: 0;
}

.filter {
    margin-bottom: 15px;
}

.filter-btn {
    padding: 8px 12px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    background-color: #ddd;
}

.filter-btn:hover {
    background-color: #bbb;
}

.song-page {
    background: #2d2d2d;
    padding: 20px;
    border-radius: 10px;
}

.song-buttons {
    margin: 10px 0;
}

.mode-btn {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    background: #ddd;
}

.song-content {
    background: #1a1a1a;
    color: white;

    padding: 20px;
    min-height: 150px;
    border-radius: 10px;

    white-space: pre-wrap;

    font-family: monospace;
    line-height: 1.8;
    font-size: 16px;
}

.mode-btn.active {
    background: black;
    color: white;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.song-card {
    transition: 0.2s;
}

.song-card:hover {
    transform: translateY(-5px);
}

.theme-btn {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

body.light {
    background-color: white;
    color: #1e1e1e;
}

body.light .welcome {
    background-color: white;
}

body.light .song-card {
    background-color: white;
}

body.light .song-page {
    background-color: white;
}

body.light .song-content {
    background: #f4f4f4;
    color: black;
}

body.light .search-input {
    background-color: white;
    color: #2d2d2d;
}

.chord {
    color: #00b894;
    font-weight: bold;
}

.search-input {
    background-color: #2d2d2d;
    color: white;
}

button {
    transition: 0.2s;
}

button:hover {
    opacity: 0.85;
}